{% extends "base.html" %}
{% block body %}
<h2>Success!</h2>
<p>{{ link }}</p>
<p>{{ title }}</p>
<strong>Chosen stream: {{ stream }}</strong>
<br>
<p>Audio URL: {{ audio_url }}</p>
<audio src="{{ audio_url }}" controls></audio>



<!-- <audio id="my-audio" src="{{ audio_url }}"></audio>

<label for="loop-time">Loop time:</label>
<input id="loop-time" type="range" min="0" max="60" value="10">

<script>
    // Get the audio and input elements
    var audio = document.getElementById('my-audio');
    var startTime = document.getElementById('start-time');
    var endTime = document.getElementById('end-time');

    // Define the function to loop the audio
    function loopAudio() {
        // Set the loop property to true to loop the audio
        audio.loop = true;

        // Set the currentTime property to the starting point of the loop
        audio.currentTime = startTime.value; // start the loop at the specified start time

        // If the audio is currently paused, play it to start the loop
        if (audio.paused) {
            audio.play();
        }

        // Listen for the timeupdate event to check if the current time has reached the end time
        audio.addEventListener('timeupdate', function () {
            if (audio.currentTime >= endTime.value) {
                // If the current time has reached the end time, jump back to the starting point
                audio.currentTime = startTime.value;
            }
        });
    }
</script> -->

{% endblock %}
